<!DOCTYPE html>
<html>
    <head>
        <title>verify</title>
        <meta charset= "utf-8">
    </head>
    <body>
        <h1>
            Verify
        </h1>
        <form method="post">
            <label for="code">Check your a-mail to confirm your code :</label>
            <input type="text" name="code" id="code"><br></br>
        </form>
    </body>
</html>